{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}


   <div class="container-fluid text-center bg-white w-100" >

    <img src="{{ url_for('static', filename='images/about_us_1.png') }}" class="img-fluid" width=100%>
  </div>
<br/>
<div class="container">
  
    <h1 style="text-align: center;">About Us</h1>
    <p>
Learn Align is a pioneering educational technology company dedicated to transforming the way students learn and bridging the gap between individual learning styles and traditional teaching methods. With our cutting-edge AI technology, we strive to empower students to embrace their unique learning preferences and unlock their full potential. By revolutionizing personalized learning, Learn Align aims to create a world where every student can thrive academically and develop a lifelong love for learning.</p>
</div>
  <div class="container-fluid text-center bg-white w-100" >

    <img src="{{ url_for('static', filename='images/about_us_2.png') }}" class="img-fluid" width=100%>
  </div>
<br/>

<div class="container">
  <h1 style="text-align: center">Mission Statement</h1>

  <p>At Learn Align, our mission is to revolutionize education by harnessing the power of artificial intelligence to create personalized learning experiences for every student. We believe that by understanding and aligning with each student's learning approach and interests, we can inspire a sense of confidence, motivation, and curiosity that will enable them to reach their highest academic potential. Our goal is to equip students with the tools and resources they need to become lifelong learners and adaptable problem solvers in an ever-evolving world.</p>
 </div> 
  <div class="container-fluid text-center bg-white w-100" >

    <img src="{{ url_for('static', filename='images/about_us_3.png') }}" class="img-fluid" width=100%>
  </div>
<br/>
<div class="container">
  <h1 style="text-align: center;">Vision Statements</h1>

<p>Empowering Students to Learn Their Way:
We envision a future where students of all ages and backgrounds have access to personalized learning experiences that cater to their unique learning styles. By harnessing the potential of AI technology, we aim to empower students to take ownership of their education, develop critical thinking skills, and cultivate a deep understanding of the subjects that resonate with them most.
Bridging the Gap between Learning Approaches and Teaching Methods:
We aspire to bridge the long-standing mismatch between student learning styles and traditional teaching methods. 

Our vision is to create a seamless learning environment where educators can leverage Learn Align's AI technology to adapt their teaching approaches and provide tailored support to every student. By fostering collaboration and synergy between students and teachers, we strive to foster an inclusive and engaging educational ecosystem.

Enabling Lifelong Learning and Personal Growth:
We are committed to instilling a love for learning that extends far beyond the classroom. Our vision is to equip students with the skills and mindset needed to thrive in a rapidly changing world. By nurturing their innate curiosity, adaptability, and resilience, we aspire to cultivate a generation of lifelong learners who are driven by a passion for knowledge, personal growth, and making a positive impact in their communities.
    </p>
</div>
<br/><br/><br/>
</div>
{% endblock %}

