<!-- learner_setup.html -->
{% extends 'base.html' %}
{% block title %}Learner Setup{% endblock %}
{% block content %}
<div class="container">
    <br/><br/>

    <p>Help us personalize your experience.</p>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="alert alert-{{ messages[0][0] }}">
      {{ messages[0][1] }}
    </div>
    {% endif %}
    {% endwith %}
  
    <form action="{{ url_for('collect_user_info') }}" method="POST">
        <div class="form-group">
            <label for="firstname">First Name:</label>
            <input type="text" class="form-control" id="firstname" name="firstname" value="{{ state.firstname | default('') }}">
        </div>
        <div class="form-group">
            <label for="lastname">Last Name:</label>
            <input type="text" class="form-control" id="lastname" name="lastname" value="{{ state.lastname | default('') }}">
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="text" class="form-control" id="email" name="email" value="{{ state.email | default('') }}">
        </div>
        <div class="form-group">
            <label for="age">Age:</label>
            <input type="number" class="form-control" id="age" name="age" value="{{ state.age | default('') }}">
        </div>
        <div class="form-group">
            <label for="grade">Grade:</label>
            <input type="number" class="form-control" id="grade" name="grade" value="{{ state.grade | default('') }}">
        </div>
        <div class="form-group">
            <label for="interest">Interest:</label>
            <input type="text" class="form-control" id="interest" name="interest" value="{{ state.interest | default('') }}">
        </div>
        <div class="school">
              <label for="school">School:</label>
              <input type="text" class="form-control" id="school" name="school" value="{{ state.school | default('') }}">
      </div>
        <div class="form-group">
            <label for="city">City:</label>
            <input type="text" class="form-control" id="city" name="city" value="{{ state.city | default('') }}">
        </div>
        <div class="form-group">
            <label for="state">State:</label>
            <input type="text" class="form-control" id="state" name="state" value="{{ state.state | default('') }}">
        </div>
  <br/>

  <p>How did this video help you learn?</p>
  <div class="row mt-5">
                {% set video_ids = ["ZGl2ExHwdak", "OnbcKzlWNeE", "ffLLmV4mZwU", "xmJjQ3KyTdw", "YtN9_tCaRQc"] %}
                {% for id in video_ids %}
                <div class="col" style="flex: 0 0 20%; max-width: 20%;">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item youtube-video" src="https://www.youtube.com/embed/{{ id }}" data-id="{{ id }}"></iframe>
                    </div>
                    <div class="mt-2">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="video_feedback_{{ id }}" id="great_{{ id }}" value="great">
                            <label class="form-check-label" for="great_{{ id }}">
                                Great
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="video_feedback_{{ id }}" id="moderate_{{ id }}" value="moderate">
                            <label class="form-check-label" for="moderate_{{ id }}">
                                Moderate
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="video_feedback_{{ id }}" id="not_at_all_{{ id }}" value="not_at_all">
                            <label class="form-check-label" for="not_at_all_{{ id }}">
                                Not at all
                            </label>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
    <br/><br/>
        <div class="form-group">
            <label for="best">Which vidoe is your top choice?</label>
            <input type="number" class="form-control" id="best" name="best" min="1" max="5" value="{{ state.best | default('') }}">
        </div>
        <div class="form-group">
            <label for="worst">Which vidoe do you leaset prefer?</label>
            <input type="number" class="form-control" id="worst" name="worst" min="1" max="5" value="{{ state.worst | default('') }}">
        </div>
    
    <br/>
    <button type="submit" class="btn btn-primary">Submit</button>
    <br/><br/><br/><br/>

    </form>


</div>


    <!-- YouTube video modal -->
    <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" id="videoIframe" src="" allowfullscreen allow="fullscreen;"></iframe>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
      
    </div>

<script>
  // Add an event listener to the form submit event
  document.querySelector('form').addEventListener('submit', function(event) {
    event.preventDefault(); // Prevent the form from submitting

    // Get the form inputs values
    const firstname = document.querySelector('#firstname').value;
    const lastname = document.querySelector('#lastname').value;
    const email = document.querySelector('#email').value;
    const age = document.querySelector('#age').value;
    const grade = document.querySelector('#grade').value;
    const interest = document.querySelector('#interest').value;
    const best = document.querySelector('#best').value;
    const worst = document.querySelector('#worst').value;
    const school = document.querySelector('#school').value;
    const city = document.querySelector('#city').value;
    const state = document.querySelector('#state').value;

    
    // Create an object with the form data
    const formData = {
      firstname: firstname,
      lastname: lastname,
      email: email,
      age: age,
      grade: grade,
      interest: interest,
      best: best,
      worst: worst,
      school: school,
      city: city,
      state: state
    };

    // Convert the formData object to JSON string
    const jsonData = JSON.stringify(formData);

    // Create a new XMLHttpRequest object
    const xhr = new XMLHttpRequest();

    // Set the request type and URL
    xhr.open('POST', '{{ url_for("collect_user_info") }}', true);

    // Set the request header
    xhr.setRequestHeader('Content-Type', 'application/json');

    // Set the onload event handler
    xhr.onload = function() {
      if (xhr.status === 200) {
        console.log('Learner setup data successfully submitted');
        // Redirect the user to the desired page after successful form submission
        window.location.href = '{{ url_for("learning_tracks") }}';
      } else {
        console.error('Error:', xhr.statusText);
      }
    };

    // Set the onerror event handler
    xhr.onerror = function() {
      console.error('Request failed');
    };

    // Send the request with the JSON data
    xhr.send(jsonData);
  });

  // // Click event to handle the YouTube video popup
  //   document.querySelectorAll('.youtube-video').forEach(function(video) {
  //       video.addEventListener('click', function() {
  //           var videoSrc = this.src;
  //           document.getElementById('videoIframe').src = videoSrc + "?autoplay=1";
  //           $('#videoModal').modal('show');
  //       });
  //   });

  //   // Stop the video when the modal is closed
  //   $('#videoModal').on('hide.bs.modal', function(e) {
  //       document.getElementById('videoIframe').src = "";
  //   });

     // Store the original size of the player
  var originalSize = {};

  // Click event to handle the YouTube video popup
  document.querySelectorAll('.youtube-video').forEach(function(video) {
      video.addEventListener('click', function() {
          var videoSrc = this.src;
          document.getElementById('videoIframe').src = videoSrc + "?autoplay=1&modestbranding=1&showinfo=0&rel=0";
          
          // Store the original size of the player
          originalSize.width = this.offsetWidth;
          originalSize.height = this.offsetHeight;

          // Change the size of the player to 800 pixels wide
          this.style.width = '800px';
          this.style.height = (800 / 16) * 9 + 'px';  // Keep the aspect ratio 16:9

          $('#videoModal').modal('show');
      });
  });

  // Add a click event listener to the document
  document.addEventListener('click', function(event) {
    // If the clicked element is not the player or one of its descendants
    if (!document.getElementById('videoIframe').contains(event.target)) {
      // Resize the player back to its original size
      var player = document.querySelector('.youtube-video');
      player.style.width = originalSize.width + 'px';
      player.style.height = originalSize.height + 'px';
    }
  });
</script>

{% endblock %}
