{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>Login</h1>
        <form method="post">
            <input type="text" name="username" placeholder="Username" value="{{ username }}">
            <input type="password" name="password" placeholder="Password">
            <input type="submit" value="Login">
        </form>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div id="error" style="color: red;">{{ messages[0] }}</div>
                <script>
                    setTimeout(function(){
                        document.getElementById('error').style.display = 'none';
                        // You can uncomment the line below to redirect after 1 second
                        // window.location.href = "{{ url_for('login') }}";
                    }, 1000);
                </script>
            {% endif %}
        {% endwith %}
    </div>
{% endblock %}
