{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="container">
    <!-- Custom welcome message -->
    <h1 class="my-4 text-center">
    {% if role == 'guardian' %}
        <p>The world needs more awesome parents like you.</p>
        <p>Let's get started!</p>
    {% elif role == 'learner' %}
        <p>You Got This!!</p>
    {% elif role == 'creator' %}
        <p> Your content is going to help everyone!</p>
    {% else %}
      <p>Please register</p>
    {% endif %}
    </h1>
    <form method="POST">
        <div class="form-group">
            <label for="firstname">First Name</label>
            <input type="text" class="form-control" id="firstname" name="firstname" required>
        </div>
        <div class="form-group">
            <label for="lastname">Last Name</label>
            <input type="text" class="form-control" id="lastname" name="lastname" required>
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <div class="form-group">
            <label for="confirm_password">Confirm Password</label>
            <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
        </div>
        <!-- Extra field for Learners -->
        {% if role == 'learner' %}
        <div class="form-group">
            <label for="grade">Grade</label>
            <input type="text" class="form-control" id="grade" name="grade" required>
        </div>
        {% endif %}
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
  <br/><br/><br/>

</div>

{% endblock %}
